PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
AES_SECRET=your_64_character_hex_string
AES_IV=your_32_character_hex_string